body, html {
  background: #f1ede6;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.bookInfo, .container, .form, .form-fields__submit-btn, .header, .inventory-list, img {
  transition: all 0.3s ease;
}

.container {
  display: grid;
  grid-template-columns: 10% 45% 45%;
  grid-template-rows: 8% 92%;
  height: 100%;
  max-width: 1300px;
  margin: auto;
  min-height: 540px;
  min-width: 1000px;
  position: relative;
}

.header {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
  cursor: default;
  font-size: 50px;
  letter-spacing: 10px;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  position: relative;
  grid-column: 3/span 1;
  grid-row: 2/span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__messages {
  text-align: center;
}
.form:after {
  position: absolute;
  background: purple;
  content: "";
  height: 50%;
  width: 2px;
  top: 26%;
  left: 4%;
}

.invalid {
  color: #ee0405;
}

.success {
  color: #238100;
}

.format {
  color: purple;
}

.form-fields {
  display: grid;
  grid-template-rows: repeat(5, auto);
  row-gap: 25px;
  width: 70%;
}
.form-fields__input {
  display: grid;
  grid-template-columns: 10% 90%;
  column-gap: 4px;
  justify-items: center;
  align-items: center;
  position: relative;
}
.form-fields__input:after {
  background: purple;
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  top: 90%;
}
.form-fields input, .form-fields select {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 5px;
}
.form-fields select {
  cursor: pointer;
}
.form-fields__submit-btn {
  cursor: pointer;
  background: #0d054b;
  color: #fff;
  height: 40px;
  width: 95%;
  border: none;
  outline: none;
  border-radius: 20px;
  font-weight: bolder;
  margin: auto;
  width: 40%;
}
.form-fields__submit-btn:hover {
  background: #fff;
  color: #0d054b;
  box-shadow: 0 0 5px 5px gray;
}

.inventory-list {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  overflow: scroll;
}

.bookInfo {
  cursor: default;
  border-top: 1px solid #000;
  display: grid;
  grid-template-columns: 20% 5% 60% 15%;
}

.img {
  grid-column: 1/span 1;
  margin: 20px 0;
}
.img img {
  width: 100px;
}

.info {
  grid-column: 3/span 1;
  margin: 20px 0;
}
.info p {
  margin: auto 0 5px;
}
.info__title {
  font-size: 20px;
}
.info__author {
  font-size: 17px;
}
.info__stock {
  display: inline-block;
  color: #fff;
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 20px;
}
.info__price {
  font-size: 23px;
  font-weight: 700;
}
.info__date {
  font-size: 15px;
  color: green;
}

.btns {
  grid-column: 4/span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  margin: 20px 0;
}
.btns__more {
  cursor: pointer;
}
.btns__more:hover {
  color: purple;
}
.btns__edit {
  cursor: pointer;
}
.btns__edit:hover {
  color: #238100;
}
.btns__delete {
  cursor: pointer;
}
.btns__delete:hover {
  color: #ee0405;
}

.bookDetails-window {
  cursor: default;
  position: absolute;
  width: 300px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px 8px gray;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bookDetails-window__close-window {
  cursor: pointer;
  transition: all 0.3s ease;
}
.bookDetails-window__close-window:hover {
  font-size: 24px;
  text-decoration: underline;
}

.BooksBy {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.BooksBy select, .BooksBy input {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-left: 5px;
  margin-top: 5px;
  padding: 2px;
}
.BooksBy input {
  width: 110px;
  padding: 5px;
}
.BooksBy label {
  margin-left: 5px;
}

@media only screen and (max-width: 680px) {
  .container {
    grid-template-columns: 100%;
    grid-template-rows: 7% 1% 52% 50%;
    row-gap: 35px;
    height: 75%;
    min-width: 500px;
  }
  .header {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    font-size: 30px;
    writing-mode: horizontal-tb;
    transform: rotate(1turn);
  }
  .form {
    grid-column: 1/span 1;
    grid-row: 4/span 1;
    justify-content: start;
  }
  .form:after {
    height: 2px;
    width: 50%;
    top: -5%;
    left: 25%;
  }
  .form-fields {
    row-gap: 10px;
    width: 60%;
  }
  .inventory-list {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
  }
  .BooksBy {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }
  .bookDetails-window {
    left: 50%;
    right: 0;
  }
}
@media only screen and (max-width: 370px) {
  .container {
    min-width: 370px;
  }
  .bookInfo {
    grid-template-columns: 20% 5% 75%;
    grid-template-rows: 80% 20%;
  }
  .img {
    grid-column: 1/span 1;
    grid-row: 1/span 2;
    margin-bottom: 0;
  }
  .img img {
    width: 70px;
  }
  .info {
    grid-column: 3/span 1;
    grid-row: 1/span 1;
    margin-bottom: 0;
  }
  .btns {
    flex-direction: row;
    grid-column: 3/span 1;
    grid-row: 2/span 1;
    margin: auto auto auto 170px;
  }
  .btns i {
    margin-bottom: 20px;
    margin-right: 10px;
  }
}

/*# sourceMappingURL=index.css.map */
